.scoreBoard {
    width: 320px;
    display: none;
    margin-top: 5px;
}

.scoreBoard.show{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.scoreBoard div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 5px;
    font-weight: bold;
    background-color: #4392f1;
}

.scoreBoard div:first-child{
    background-color:#cd493a ;
}